<app-header nombre="Perfil" [show]=true></app-header>

<ion-content color="dark" class="vertical-align-content">

  <ion-grid>
    <ion-row>
      <ion-col>

        <form #formulario="ngForm" (ngSubmit)="updatePerfil(formulario)" color="dark">

          <p>Nombre</p>
          <ion-item class="item">
            <ion-input type="text"
                       required
                       [(ngModel)]="perfil.nombre"
                       name="nombre"
                      ></ion-input>
          </ion-item>

          <p>Email</p>
          <ion-item class="item">
            <ion-input type="email"
                       class="input"
                        required
                       [(ngModel)]="perfil.email"
                        name="email"
                        >
            </ion-input>
          </ion-item>

            <p>Telefono</p>
            <ion-item class="item">
              <ion-input type="text"
                          required
                         [(ngModel)]="perfil.telefono"
                          name="telefono"
                          >
              </ion-input>
          </ion-item>

          <p>Contraseña</p>
          <ion-item class="item">
            <ion-input type="password"
                       placeholder="****"
                        required
                       [(ngModel)]="perfil.clave"
                        name="clave"
                        >
            </ion-input>
        </ion-item>

          <ion-list style="text-align:center" color="dark" class="item-background-color">
            <ion-button expand="fill" type="submit" class="actualizar">Actualizar</ion-button>
          </ion-list>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
