<ion-card>

  <ion-card-header>

    <ion-card-title>{{ inmueble.direccion }}

    </ion-card-title>
  </ion-card-header>

  <ion-img
            class="animated fadeIn fast"
            src="../../assets/images/casa.jpg">
  </ion-img>

  <ion-card-content>
    <form #formulario="ngForm" (ngSubmit)="updateInmueble()" color="dark">

    <ion-item>
      <ion-label position="stacked" color="light">Superficie</ion-label>
      <ion-input color="light"
                 [(ngModel)]="inmueble.superficie"
                 name="superficie"
                 type="number"
                 inputmode="numeric"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="light">Latitud</ion-label>
      <ion-input color="light"
                 [(ngModel)]="inmueble.latitud"
                 name="latitud"
                 type="number"
                 inputmode="numeric"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked" color="light">Longitud</ion-label>
      <ion-input color="light"
                 [(ngModel)]="inmueble.longitud"
                 name="longitud"
                 type="number"
                 inputmode="numeric"> </ion-input>
    </ion-item>

    <ion-list style="text-align:center" class="item-background-color">
      <ion-button expand="block" type="submit" color="warning">Editar</ion-button>

      <ion-button expand="block" color="danger" (click)="deleteInmueble()">Eliminar</ion-button>
    </ion-list>

  </form>
  </ion-card-content>

</ion-card>
