ion-label {font-weight: bolder;font-size: medium;}

input {color: white;border-bottom: white;--background: white}

ion-title {text-align: center;padding-top: 10px;}

.item-background-color{
  --ion-item-background:#00000000;
}

