<app-header nombre="Inmuebles" [show]=true></app-header>
<ion-content color="dark">

  <ion-grid *ngIf="inmuebles.length == 0">
    <ion-row>
      <ion-col>
          <ion-toolbar color="dark">
            <ion-title size="large" color="medium">NO SE ENCONTRARON RESULTADOS</ion-title>
          </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-inmuebles-component [inmuebles]="inmuebles"></app-inmuebles-component>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink='/inmuebles-create'>
      <ion-icon name="add-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-infinite-scroll threshold="300px"
                     (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>


